@import url('./fonts.css');

.mainBody {
  margin: 0;
  background-image: url("./assets/Screenshot_33.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.content{
  padding-top: 6vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body, html, p {
  margin: 0;
  padding: 0;
  font-family:'YourOTFFontName';
  color: #00000000;
  font-size: 30px;
  -webkit-text-stroke: 3px #CEB7FF;
  word-wrap: break-word; /* Ensures long words are broken and wrap onto the next line */
  word-break: break-all; /* Handles non-standard word breaks (e.g., URLs) */
  white-space: normal;
  text-align: center;
}

p{
  padding: 20px;
}

.img1{
  position: absolute;
  top:30vh
}

.img2{
  position: absolute;
  top:86vh;
  left:73vw;
}
